[alias]
        st = status
        co = commit
        up = pull
        pm = push origin master
        rb = rebase
        br = branch
        ch = checkout
[diff]
        external = /home/richard/diff.py
[user]
        email = richardsbrandao@gmail.com
        name = Richard Brandão