[alias]
        st = status
        co = commit
        up = pull
        pm = push origin master
        rb = rebase
        br = branch
        ch = checkout
        un = reset HEAD .
[user]
        email = richardsbrandao@gmail.com
        name = Richard Brandão