version: '2'
services:
  solr:
    image: solr:5.4
    ports:
      - "8983:8983"
    networks:
      services:
        ipv4_address: 172.28.0.8
  mysql:
    image: mysql
    environment: 
      MYSQL_ROOT_PASSWORD: services
    ports:
      - "3306:3306"
    networks:
      services:
        ipv4_address: 172.28.0.9
  cassandra:
    image: poklet/cassandra
    command: start
    ports:
      - "9042:9042"
    networks:
      services:
        ipv4_address: 172.28.0.10
  rabbit:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: services
      RABBITMQ_DEFAULT_PASS: services
    hostname: rabbit-services
    networks:
      services:
        ipv4_address: 172.28.0.11
  mongo:
    image: mongo
    ports: 
      - "27017:27017"
    networks:
      services:
        ipv4_address: 172.28.0.12
  redis:
    image: redis
    ports: 
      - "6379:6379"
    networks:
      services:
        ipv4_address: 172.28.0.13
  nginx:
    image: nginx:1.11
    ports:
      - "7070:80"
    volumes:
      - "/home/vagrant/projects/services_nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
    networks:
      services:
        ipv4_address: 172.28.0.14
  postgres:
    image: postgres:9.6
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 123456
  elasticsearchkibana:
    image: arcseldon/elasticsearch-kibana-marvel-sense
    hostname: elasticsearchkibana
    ports:
      - "5601:5601"
      - "9200:9200"
    networks:
      services:
        ipv4_address: 172.28.0.15
  logstash:
    image: logstash
    command: logstash -f /logstash/logstash.conf
    ports:
      - "5044:5044"
    depends_on:
      - "elasticsearchkibana"
    volumes:
      - "./volumes/logstash:/logstash"
    networks:
      services:
        ipv4_address: 172.28.0.16
  cadvisor:
    image: google/cadvisor:latest
    ports: 
      - "9090:8080"
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
      - "/dev/disk/:/dev/disk:ro"
    depends_on:
      - "nginx"
    networks:
      services:
        ipv4_address: 172.28.0.17
networks:
  services:
    driver: bridge
    ipam:
      config: 
      - subnet: 172.28.0.0/28